

.circle{
       width: 100px;
       height: 100px;
       border-radius: 50%;
       border: 1px solid grey;
       display: inline-block;
       margin: 40px
}
.red{
       background: red
}
.blue{
       background: blue
}
.green{
       background: green
}